.App {
  text-align: center;
  background: linear-gradient(25deg, #8d9492 0%, #c62828 100%);
  /* background-color: #c62828; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-bottom: 50px;
}

.App-logo {
  height: 300px;
}

.App-logo-left {
  margin-right: 20px;
}

.App-logo-right {
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'DirtyBrush';
  src: url('./assets/fonts/DirtyBrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PersonaAura';
  src: url('./assets/fonts/PersonaAura.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-title {
  font-family: 'DirtyBrush', sans-serif;
  font-size: 200px;
  font-weight: normal;
  margin-top: 50px;
}

.Title-row {
  padding: 0px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 0px;
  /* outline:1px solid black; */
  height: 275px;
}

.Guess-prompt {
  width: 750px;
  height: 10px;
  border-radius: 20px;
  font-size: 30px;
  padding: 15px;
  border: 2px solid #ccc;  
}

.R1-heading {
  width: 60px;
  justify-content: center;
  display: flex;
}

.Divider-line {
  border: none;
  height: 3px;
  background: repeating-linear-gradient(90deg, white,white 10px,transparent 5px,transparent 15px);
  width: 1600px;
}

.Response-rows-heading {
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: 300px 200px 200px repeat(4, 150px) 200px;
  font-family: 'PersonaAura', sans-serif;
  font-size: 30px;
  height: 80px;
  margin-top: 20px;
}

.Response-body-rows {
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: 300px 200px 200px repeat(4, 150px) 200px;
  height: 140px;
  font-family: 'PersonaAura', sans-serif;
  /* margin-bottom: 10px; */
}

.Response-body-rows:last-child {
  margin-bottom: 30px;
}


.R1-response {
  width: 300px;
  height: 140px;
  /* outline: 1px solid black; */
  border-radius: 20px;
}

.R2-response {
  font-size: 30px;
  /* height: 140px; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;

}

.Flag-image {
  height: 70px;
}

.Fighter-image {
  margin-top: 12px;
  height: 90px;
  /* outline: 1px solid black; */
  margin-bottom: -25px;
}

.Unattempted-guess {
  font-size: 50px;
  font-family: 'PersonaAura', sans-serif;
  outline: 3px solid black;
  background-color: grey;
  align-items: center;
  height: 140px;
  width: 1570px;
  justify-content: center;
  display: flex;
  /* margin: 10px; */
  border-radius: 20px;

  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black;

}

.Guess-rows {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid black; */
  gap: 10px;
}

.Fighter-name-text {
  font-size: 22px;
}

.Nationality-weight-lastfight-box {
  width: 200px;
}

.Age-height-wingspan-peakrank-box {
  width: 150px;
}

.Answer-close {
  box-shadow: 
    /* inset 0 0 0 2px black, */
    inset 0 0 0 10px yellow,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}

.Answer-correct {
  box-shadow: 
    /* inset 0 0 0 2px black, */
    inset 0 0 0 10px green,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}

.Answer-wrong {
  box-shadow: 
    /* inset 0 0 0 2px black, */
    inset 0 0 0 10px red,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}