.App {
  text-align: center;
  background: linear-gradient(25deg, #8d9492 0%, #c62828 100%);
  /* background-color: #c62828; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-bottom: 50px;
}

.App-logo {
  height: 300px;
}

.App-logo-left {
  margin-right: 20px;
}

.App-logo-right {
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'DirtyBrush';
  src: url('./assets/fonts/DirtyBrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PersonaAura';
  src: url('./assets/fonts/PersonaAura.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-title {
  font-family: 'DirtyBrush', sans-serif;
  font-size: 200px;
  font-weight: normal;
  margin-top: 50px;
}

.Title-row {
  padding: 0px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 0px;
  height: 275px;
}

.Guess-prompt {
  width: 550px;
  height: 10px;
  border-radius: 20px;
  font-size: 25px;
  padding: 15px;
  border: 2px solid #ccc;  
  margin-right: 20px;
  /* margin-bottom: 2px; */
}

.Guess-prompt:FOCUS {
  outline: none;
}

.Show-player {
  width: 200px;
  height: 44px;
  border-radius: 20px;
  padding: 15px;
  border: 2px solid #ccc; 
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Show-player:HOVER {
  background-color: #c62828;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.Silhoutte {
  filter: brightness(0%);
  pointer-events: none;
}

.Make-clear {
  visibility: hidden;
}

.Input-row {
  display: flex;
  justify-content: center;
  width: 950px;
}

.R1-heading {
  justify-content: center;
  display: flex;
}

.Divider-line {
  border: none;
  height: 3px;
  background: repeating-linear-gradient(90deg, white,white 10px,transparent 5px,transparent 15px);
  width: 1600px;
  margin-bottom: 20px;
}

.Response-rows-heading {
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: 300px 200px 200px repeat(4, 150px) 200px;
  font-family: 'PersonaAura', sans-serif;
  font-size: 30px;
  height: 80px;
  margin-top: 20px;
}

.Response-body-rows {
  height: 180px;
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: 300px 200px 200px repeat(4, 150px) 200px;
  font-family: 'PersonaAura', sans-serif;
}

.R1-response {
  width: 300px;
  height: 100%;
  border-radius: 20px;
}

.R2-response {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  outline: 1px solid black;
  
}

.Arrow-box {
  height: 50px;
}

.Stat-box-text {
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Up-arrow {
  height: 30px;
  width: 100px;
  filter: invert();
  margin-top: 20px;
}

.Down-arrow {
  height: 30px;
  width: 100px;
  filter: invert();
}

.Flag-image {
  height: 70px;
  margin: 0px;
}

.Fighter-image {
  margin-top: 12px;
  height: 120px;
  margin-bottom: -25px;
}

.Unattempted-guess {
  font-size: 50px;
  font-family: 'PersonaAura', sans-serif;
  outline: 3px solid black;
  background-color: grey;
  align-items: center;
  height: 180px;
  width: 1570px;
  justify-content: center;
  display: flex;
  border-radius: 20px;

  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black;

}

.Guess-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Fighter-name-text {
  font-size: 25px;
  margin-bottom: -10px;
}

.Nationality-weight-box {
  width: 200px;
  font-size: 30px;
}

.Age-height-record-box {
  width: 150px;
  font-size: 35px;
}

.Peakrank-box {
  width: 150px;
  font-size: 35px;
}
.Last-fight-box {
  width: 200px;
  font-size: 20px;
}

.Answer-close {
  box-shadow: 
    inset 0 0 0 10px yellow,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}

.Answer-correct {
  box-shadow: 
    inset 0 0 0 10px green,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}

.Answer-wrong {
  box-shadow: 
    inset 0 0 0 10px red,
    0 0 0 3px black;
  outline: 3px solid black;
  outline-offset: -12px;
}

.Guess-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
  margin-right: 20px;
  max-height: 247px;

  overflow: hidden;
  overflow-y: auto;
}



.No-scrollbar::-webkit-scrollbar {
  display: none;
}

.Individual-guess {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  outline: 3px solid black;
  width: 100%;
  height: 50px;
  color: black;
  background-color: white;
  flex-shrink: 0;


  transition: background-color 0.3s ease, color 0.3s ease;
}

.Individual-guess:HOVER {
  background-color: #c62828;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.Popup-box {
  margin-top: 40px;
  height: 400px;
  width: 1600px;
  color: black;
  display: flex;
  align-items: stretch;
  font-size: 30px;
  font-family: 'PersonaAura', sans-serif;
}

.Popup-image-div {
  background: #d28888;
  border-radius: 20px;
  margin-right: 20px;
  outline: 3px solid black;
}

.Popup-image {
  height: 100%;
  /* filter: brightness(0%); */
}

.Popup-info-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Popup-name {
  background: #d28888;
  outline: 3px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 32%;
}

.Popup-name-upper {
  color: black;
  text-align: left;
  vertical-align: top;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.Popup-name-lower {
  color: white;
  margin-top: 0px;
  font-size: 60px;
}

.Popup-info {
  background: #d28888;
  outline: 3px solid black;
  border-radius: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.Popup-stat-left {
  display: block;
  flex-direction: column;
  height: 50%;
  width: 75%
}

.Popup-stat-stack {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.Popup-stat-right {
  height: 100%;
  width: 25%;
  margin-left: 10px;
  margin-right: 20px;
  
}

.Popup-flag {
  height: 50px;
  margin-top: 5px;
}

.Popup-stat {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black;
  line-height: 1;
}
.Popup-stat-text {
  color: white;
  height: 70%;
  margin-top: 0px;
}

.Popup-right-height {
  height: 60%;
}

.Popup-stat-heading {
  height: 30%;
  font-size: 20px;
  bottom: 0;
}

.Popup-stat-heading-right {
  height: 15%;
  font-size: 20px;
  padding-top: 30px;
}